.card {
    background-color: #1F2833;
    min-width: calc(33.6% - 10px);
    border-radius: 6px;
    width: 390px;
    display: flex;

    border-radius: 5px;
}

.card-image {
    height: 200px;
}

.rightside {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightside h1 {
    color: #45A29E;
    font-size: 20px;
}

.information-subtitle {
    color: #C5C6C7;
    padding-top: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    cursor: pointer;
    height: 25px;
}